<br>
<br>
<br>
<br>
<footer class="footer">
    <div class="container">
        <span class="text-muted"> SZOUPI© 2020 | Developed by <a target="_blank" rel="noreferrer" href="https://threethemes.com/">threethemes.com</a></span>
        <span class="text-muted"> | <a target="_blank" href="/privacy-policy" title="Privacy">Privacy</a></span>
        <span class="text-muted"> | <a target="_blank" href="/cookies-policy" title="Cookies Policy">Cookies Policy</a></span>
</footer>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
Official Themes
Take Bootstrap 4 to the next level with official premium themes—toolkits built on Bootstrap with new components and
plugins, docs, and build tools.

Bootstrap Themes


<link rel="stylesheet" href="assets/glyphicons/glyphicons.css"> <!-- bs4 dropped support for glyphicons -->
